{{ "<!-- Schedule -->" | safeHTML }}
<section id="schedule" {{ if .Site.Params.schedule.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
        <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.schedule.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
    </div>
<center>
	<table class="table" style="width: auto !important; margin-left: auto; margin-right: auto;">
 <thead>
<tr>
<th style="border-bottom:hidden" colspan="1"></th>
<th style="border-bottom:hidden; padding-bottom:0; padding-left:3px;padding-right:3px;text-align: center; " colspan="2"><div style="border-bottom: 1px solid #ddd; padding-bottom: 5px; ">Talks</div></th>
<th style="border-bottom:hidden; padding-bottom:0; padding-left:3px;padding-right:3px;text-align: center; " colspan="2"><div style="border-bottom: 1px solid #ddd; padding-bottom: 5px; ">Workshop</div></th>
</tr>
  <tr>
   <th style="text-align:left;"> Horaires </th>
   <th style="text-align:left;"> Intervenant </th>
   <th style="text-align:left;"> Titre </th>
   <th style="text-align:left;"> Intervenant </th>
   <th style="text-align:left;"> Titre </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;font-weight: bold;background-color: #F7F7F7 !important;"> 09:00 - 09:30 </td>
   <td style="text-align:center;font-weight: bold;font-weight: bold;background-color: #F7F7F7 !important;" colspan="4"> Accueil - Café, croissants, chocolatines </td>  
  </tr>
  <tr grouplength="2"><td colspan="5" style="background-color: #2165B6; color: #fff;"><strong>Session 1</strong></td></tr>
<tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 09:30 - 10:15 </td>
   <td style="text-align:left;font-weight: bold;"> Victor PERRIER </td>
   <td style="text-align:left;"> DataViz avec R </td>
   <td style="text-align:left;font-weight: bold;vertical-align: middle !important;" rowspan="2"> Marylène HENRY </td>
   <td style="text-align:left;vertical-align: middle !important;" rowspan="2"> R pour les débutants </td>
  </tr>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 10:15 - 11:00 </td>
   <td style="text-align:left;font-weight: bold;"> Colin FAY </td>
   <td style="text-align:left;"> Applications Shiny avec {golem} </td>
   
   
  </tr>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;font-weight: bold;background-color: #F7F7F7 !important;"> 11:00 - 11:15 </td>
   <td style="text-align:center;font-weight: bold;font-weight: bold;background-color: #F7F7F7 !important;" colspan="4"> Pause café </td>  
  </tr>
  <tr grouplength="2"><td colspan="5" style="background-color: #2165B6; color: #fff;"><strong>Session 2</strong></td></tr>
<tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 11:15 - 12:00 </td>
   <td style="text-align:left;font-weight: bold;"> Bénédicte GARNIER </td>
   <td style="text-align:left;"> Textmining avec R </td>
   <td style="text-align:left;font-weight: bold;vertical-align: middle !important;" rowspan="2"> Françoise BAHOKEN &amp; Nicolas LAMBERT </td>
   <td style="text-align:left;vertical-align: middle !important;" rowspan="2"> Cartographie de flux avec R </td>
  </tr>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 12:00 - 12:45 </td>
   <td style="text-align:left;font-weight: bold;"> *Réservé appel à communications* </td>
   <td style="text-align:left;">  </td>
   
   
  </tr>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;font-weight: bold;background-color: #F7F7F7 !important;"> 12:45 - 14:00 </td>
   <td style="text-align:center;font-weight: bold;font-weight: bold;background-color: #F7F7F7 !important;" colspan="4"> Pause repas </td>  
  </tr>
  <tr grouplength="2"><td colspan="5" style="background-color: #2165B6; color: #fff;"><strong>Session 3</strong></td></tr>
<tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 14:00 - 14:45 </td>
   <td style="text-align:left;font-weight: bold;"> *Réservé appel à communications* </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;font-weight: bold;vertical-align: middle !important;" rowspan="2"> Marion LOUVEAUX </td>
   <td style="text-align:left;vertical-align: middle !important;" rowspan="2"> Les premiers pas dans la réalisation d&#39;un package R </td>
  </tr>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 14:45 - 15:30 </td>
   <td style="text-align:left;font-weight: bold;"> Marion MAISONOBE &amp; Hugues PÉCOUT </td>
   <td style="text-align:left;"> Analyse de réseaux </td>
   
   
  </tr>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;font-weight: bold;background-color: #F7F7F7 !important;"> 15:30 - 15:45 </td>
   <td style="text-align:center;font-weight: bold;font-weight: bold;background-color: #F7F7F7 !important;" colspan="4"> Pause café </td>  
  </tr>
  <tr groupLength="2"><td colspan="5" style="background-color: #2165B6; color: #fff;"><strong>Session 4</strong></td></tr>
<tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 15:45 - 16:30 </td>
   <td style="text-align:left;font-weight: bold;"> Maël THEULIÈRE </td>
   <td style="text-align:left;"> Documents automatisés avec Rmarkdown </td>
   <td style="text-align:left;font-weight: bold;vertical-align: middle !important;" rowspan="2"> Fanny MEYER </td>
   <td style="text-align:left;vertical-align: middle !important;" rowspan="2"> Atelier data.table </td>
  </tr>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 16:30 - 17:15 </td>
   <td style="text-align:left;font-weight: bold;"> *Réservé appel à communications* </td>
   <td style="text-align:left;">  </td>
   
   
  </tr>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 17:15 - 17:30 </td>
   <td style="text-align:center;font-weight: bold;font-weight: bold" colspan="4"> Association MolieR &amp; Actualités Réseau Bordeaux </td>
  </tr>
  <tr>
   <td style="text-align:left;font-style: italic;border-right:1px solid;"> 17:30 - 18:00 </td>
   <td style="text-align:center;font-weight: bold;font-weight: bold" colspan="4"> Conclusion </td>
   <td style="text-align:left;">  </td>
   
   
  </tr>
</tbody>
</table>
</center>
  </div>
</section>
